body{
    min-height: 100vh;
    /* width: var(--my-width); */
    min-width: 1000px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: flex;
    flex-direction: column;
    font-family: var(--my-sans);
}



nav{
    flex: none;
    display: flex;
    background-color: var(--my-blue);
    justify-content: flex-start;
    align-items: stretch;
    width: var(--my-width);
    padding: 0;
    height: 80px;
}
nav >div{
    display: flex;
    align-items: center;
    flex: none;
    /* width: 120px; */
    /* min-width: 105px; */
    padding: 10px;
    margin: 0;
    background-color: var(--my-blue);
    text-align: center;
}
nav >div >a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: var(--my-serif);
    font-weight: var(--common-weight);
}
nav >div:hover{
    background-color: var(--my-deep-blue);
}

nav >header{
    display: flex;
    align-items: center;
    flex: none;
    padding: 10px 50px;
    width: 200px;
    text-align: center;
}
nav >header >a{
    font-size: 28px;
    font-family: var(--my-serif);
    font-weight: 600;
    color: white;
    width: 100%;
    text-decoration: none;
}

main{
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /* height: calc(100vh - 140px);
    overflow: auto; */
    background-color: #BBBBBB;
}
main >*{
    flex: none;
    padding: 10px;
    margin: 10px;
    background-color: white;
}
main >article{
    width: 800px;
    font-size: 16px;
}



footer{
    flex: 1;
    padding: 5px 0;
    width: var(--my-width);
    background-color: var(--my-blue);
    font-size: 16px;
    color: white;
    text-align: center;
    height: 50px;
}