@import "common.css";

:root{/*存放變數*/
    --my-sans: "Arial","Microsoft Jhenghei", sans-serif;
    --my-serif: 'Noto Serif TC', serif;
    --my-width: auto;
    --my-blue: #19385f;
    --my-deep-blue: #0F2540;
    --my-light-blue: #bdd7f7;
    --my-green: #3d6359;
    --my-deep-green: #26453D;
    --common-weight: 500;
    --anima-time: .25s;
}
